.imageSelectorModalImages {
  margin-top:10px;
  height:180px;
  background-color:#DDD;
  overflow-y:scroll;
  border:1px solid #CCC;
}

#ImageSelectorModalDirectoryDropdown {
  background-color:#666;
  float:right;
  width:220px;
  text-align:left;
}

.imageSelectorCaret {
  margin-left:10px;
}

.imageSelectorModalUploadPreview {
  height:110px;
  width:190px;
  float:left;
  margin-right:20px;
  background-color:#DDD;
  padding:2px;
}

#imageSelectorModalUploadPreviewActual {
  height:106px;
  width:186px;
  margin-right:20px;
  background-color:#FFF;
  padding:2px;
}

.imageSelectorModalUploadDiv {
  height:110px;
  margin-left:200px;
  position:relative;
}

#imageSelectorModalSelectButton {
  margin-top:35px;
  margin-bottom:10px;
  float:left;
}

#imageSelectorModalUploadButton {
  float:left;
}

.uploadFileDiv {
  height:auto;
  width:auto;
}

.uploadFileButton {
  width:120px;
  background-color:#DDD;
  border:1px solid #000;
  border-radius:2px;
  color:#111;
  font-weight:bold;
}

.uploadFileLabel {
  margin-left:10px;
  margin-right:10px;
  margin-top:10px;
  padding-top:5px;
  padding-bottom:8px;
}

.uploadFilePreview {
  width:140px;
  height:80px;
  margin-top:10px;
  background-color:#DDD;
  border:1px solid #999;
  background-size:cover;
}

.uploadFileRemove {
  margin-left:10px;
  width:40px;
}

