.blueFont {
  color:#1E6C93;
}

.teamHistoryDiv {
  padding-top:40px;
  padding-bottom:40px;
  margin-left:10px;
  margin-right:10px;
}

.teamHistoryYearSelector {
  color:#000;
  margin-bottom:20px;
  margin-left:10px;
  height:59px;
  width:140px;
  padding-left:20px;
  text-align:center;
}

.about_team_btns {
  margin:5px;
}

.about_team_btn {
  width:140px;
  height:60px;
}

nav.navbar.navbar-default {
  background-color:rgba(33,33,33,0);
}

body {
  background-color:#FFFFFF;
  margin:0px;
  overflow-x:hidden;
}

html {
  background-color:#FFFFFF;
}

h1 h2 h3 h4 h5 h6 h7 {
  font-family:fantasy;
}

h1 {
  font-weight:bold;
}

p {
  color:black;
}

.navbar {
  height:60px;
}

.navbar-brand {
  margin-top:10px;
}

.navbar-nav {
  margin-top:10px;
  margin-right:5px;
}

.footer_upload_btn {
  height:10px;
  font-size:12px;
  font-weight:bold;
  width:70px;
  line-height:0px;
  margin-left:10px;
  border-radius:5px;
}

.boxy_btn {
  height:80px;
  line-height:65px;
}

.NavButton {
  padding-right:2px;
  padding-left:2px;
}

.MicroLogo {
  height:50px;
  width:50px;
}

.MicroLogoInner {
  margin-right:20px;
  position:relative;
  margin-top:-15px;
}

.MicroLogoOuter {
  margin-left:15px;
  margin-top:5px;
  z-index:10000;
}

.FixedLogo {
  position:fixed;
}

div.divOrange {
  height:60px;
  overflow:hidden;
}

#DivOrangeImage {
  object-fit:cover;
}

img#DivOrangeImage, img#DivBlueImage {
  height:100%;
  width:100%;
  z-index:-1;
  display:block;
}

div.divBlue {
  height:100px;
  overflow:hidden;
  position:relative;
  background-image:url("../../assets/img/Backdrops/BlueBlurBackdrop.png");
}

.modal-body {
  position:relative;
  height:auto;
  text-align:center;
}

.SocialMediaModalButton {
  width:140px;
  margin:0 10px 0 10px;
}

.TitleHeading {
  color:#FFFFFF;
  line-height:60px;
  margin-left:40px;
  margin-right:40px;
  text-overflow:ellipsis;
  width:auto;
  display:inline-block;
}

.paragraphSmall {
  font-size:x-small;
}

.TitleHeadingMobileSmall {
  font-size:26px;
  padding-bottom:5px;
  line-height:40px;
}

.TitleHeadingSmall {
  display:inline-block;
  font-size:24px;
}

.TitleHeadingRight {
  float:right;
  margin-right:40px;
}

.TitleHeadingLeft {
  float:left;
  margin-left:40px;
}

.TitleHeadingInverted {
  color:black !important;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-nav > .active > a:hover {
  background-color:#FFF;
  color:#1E6C93;
  font-weight:bold;
}

a {
  font-weight:bold;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color:#1E6C93 !important;
  background-color:#FFFFFF;
  font-size:14px;
  font-weight:bold;
}

.dropdown-toggle:active, .open .dropdown-toggle {
  background:#FFF !important;
  color:#1E6C93 !important;
}

.navbar {
  margin-bottom:0;
  border:none;
}

.navbar-brand .glyphicon {
  margin-right:6px;
}

.site-footer {
  padding:20px 0;
  text-align:center;
}

@media (min-width:768px) {
  .site-footer h5 {
    text-align:left;
  }
}

.site-footer h5 {
  color:inherit;
  font-size:20px;
}

.site-footer .social-icons a:hover {
  opacity:1;
}

.site-footer .social-icons a {
  display:inline-block;
  width:32px;
  border:none;
  font-size:20px;
  border-radius:50%;
  margin:4px;
  color:#dddddd;
  text-align:center;
  background-color:#798FA5;
  height:32px;
  opacity:0.8;
  line-height:32px;
}

@media (min-width:768px) {
  .site-footer .social-icons {
    text-align:right;
  }
}

.ButtonSets {
  height:auto;
  padding-right:10px;
  padding-top:30px;
  padding-bottom:0px;
}

.about_btn {
  float:right;
  margin-left:10px;
  margin-top:5px;
  margin-bottom:5px;
}

.scrollX {
  overflow-x:scroll;
  padding-bottom:40px;
}

.sectionContainer {
  text-align:center;
  margin-top:80px;
  padding-left:80px;
  margin-bottom:40px;
  padding-right:80px;
}

.ParagraphContent {
  font-size:large;
}

.paralaxHalf {
  padding-top:150px;
}

div.paralax {
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-size:100% auto;
  padding-top:300px;
  z-index:-1;
  overflow:hidden;
  background-color:#1E6C93;
  filter:blur(3px);
}

div.splashContentHalf {
  height:auto;
}

div.splashContent {
  overflow:hidden;
  height:auto;
  background-color:#1E6C93;
}

.splashContentHeaderHalf {
  height:auto;
}

div.splashContentHeader {
  position:absolute;
  padding-left:20px;
  padding-right:20px;
  width:100%;
  height:auto;
  z-index:2;
  text-align:center;
  top:200px;
}

#SplashPageVideo {
  display:block;
  margin:0 auto;
}

img.SplashHeaderLogo {
  height:auto;
  width:13%;
}

p.SplashHeaderText {
  font-weight:bold;
  font-size:6vw;
  display:inline-block;
  color:#FFFFFF;
  padding-right:40px;
  padding-left:40px;
}

.PageFooter, .copyright {
  background-color:rgb(33,33,33);
  color:#FFFFFF;
}

.socialMediaIcon {
  padding-right:5px;
  padding-left:5px;
}

.LogoFull {
  width:240px;
  float:left;
  margin-right:30px;
  margin-bottom:30px;
}

#SplashPageVideoFull {
  width:100%;
  height:500px;
  margin:0 0 -5px 0;
}

.VideoBlackPadding {
  background-color:#000;
  height:60px;
}

.SplashPageVideoTitle {
  color:#FFFFFF;
  align-content:center;
  text-align:center;
  padding:20px 0 10px 0px;
}

.divMedia {
  height:auto;
  padding:0 10px 0 10px;
  background-color:#000;
}

.FIRSTBanner {
  height:16vh;
  margin-top:40px;
}

.SponsorContainer {
  align-content:center;
  width:auto;
  max-width:100%;
  margin-top:40px;
}

.SponsorContainerInner {
  width:50%;
  display:inline-block;
}

.SponsorLogoFloatLeft {
  float:left;
}

.SponsorLogoFloatRight {
  float:right;
}

.SponsorLogo {
  padding:15px 15px 15px 15px;
  margin:10px 10px 10px 10px;
  background-color:#DDD;
  height:16vh;
  max-height:100px;
}

.SponsorLogo:hover {
  background-color:#EEE;
}

.headerSplashDisplay {
  background-image:url(../../assets/img/SplashHeaders/section-02.jpg);
  height:100px;
  background-size:100%;
}

.clearSpacer {
  height:60px;
}

.divClear {
  overflow:hidden;
}

.modal-body {
  background-color:#EEEEEE;
}

.modal-header {
  background-color:#1E6C93;
}

.pushModal {
  padding-top:50px;
}

.modal-footer {
  background-color:#CCC;
}

.modal-close {
  width:100%;
}

.modal-title {
  color:#FFF;
  font-weight:bold;
  text-align:center;
}

.FlickrModalButtonBackground {
  background-image:url(../../assets/img/Backdrops/BlueBlurBackdrop.png);
  overflow:hidden;
  width:100%;
  padding-top:20px;
  padding-bottom:20px;
  margin-bottom:10px;
  font-size:x-large;
}

.smallDiv {
  background-color:#888;
  height:1px;
  margin:10px;
}

.teamHistoryBox {
  margin-top:20px;
  border-radius:3px;
  border:1px solid #EEE;
  padding:10px 10px 10px 10px;
  height:auto;
  position:relative;
}

.PersonDisplayBox {
  border-radius:4px;
  border:1px solid #DDD;
  background-color:#EEE;
  margin-right:10px;
  margin-bottom:8px;
  display:inline-block;
  position:relative;
  height:140px;
  overflow:hidden;
}

.PersonDisplayHeadshotDiv {
  border-radius:2px 0 0 2px;
  height:140px;
  width:140px;
  float:left;
  display:inline-block;
}

.PersonDisplayContent {
  display:inline-block;
  margin-left:20px;
  /*float:left;*/
  height:auto;
  width:auto;
}

.PersonDisplayName {
  color:#1E6C93;
  background-color:rgb(255,20,20);
  margin-top:5px;
  font-size:150%;
  max-width:100%;
  white-space:normal;
  position:relative;
  overflow:hidden;
  text-overflow:clip;
}

.PersonDisplayTitles {
  color:#444;
  background-color:rgb(20,150,1205);
  height:50px;
  margin-top:10px;
  margin-bottom:5px;
  font-size:100%;
  max-width:100%;
  white-space:nowrap;
}

.PersonDisplayInfo {
  color:#000;
  background-color:rgb(20,255,20);
  margin-top:15px;
  margin-bottom:5px;
  margin-left:10px;
  font-size:100%;
  width:48%;
  white-space:nowrap;
}

.PersonDisplayLinkDiv {
  height:140px;
  width:30px;
  display:inline-block;
  float:right;
  padding-top:10px;
  border-radius:0 2px 2px 0;
  background-color:#DDD;
}

.PersonDisplayHeadshot {
  max-width:100%;
  position:relative;
}

.PersonDisplayLink {
  color:#444;
  width:20px;
  height:20px;
  align-content:center;
  padding:0 0px 0 10px;
  margin:10px 0 10px 0;
  display:inline-block;
}

#PersonDisplayBox_Template {
  position:absolute;
  visibility:hidden;
}

#FirstAtAGlance {
  width:100%;
  max-width:800px;
  padding-top:20px;
  padding-bottom:20px;
}

.FIRSTDetailsDiv {
  text-align:center;
  background-color:#8ED5E9;
  padding-top:40px;
  padding-bottom:40px;
}

#FirstDetails {
  max-width:100%;
  text-align:center;
}

.RobotListDiv {
  height:auto;
  min-height:40px;
  border-radius:4px;
  border:solid 1px #000;
  padding:10px;
}

.RobotDisplayDivPadding {
  width:100%;
  height:auto;
  padding:20px;
}

.RobotDisplayButton {
  width:100%;
  margin-bottom:5px;
}

.RobotDisplayLabel {
  float:left;
}

.RobotTitleHeading, .RobotTitleSubHeading {
  color:#1E6C93;
}

.RobotTitleSubHeading {
  float:right;
}

.contactSingleDiv {
  min-height:70px;
  height:auto;
  margin-top:40px;
}

.contactLeft {
  width:70%;
  /*float:left;*/
  text-align:right;
  padding-right:8px;
}

.contactRight {
  width:60%;
  float:right;
  text-align:left;
  padding-left:8px;
}

.infoBlock {
  margin-top:10px;
}

.calendarDateSingleDiv {
  height:auto;
}

.calendarDateRight {
  width:50%;
  float:right;
  padding-left:8px;
  text-align:left;
}

.calendarDateLeft {
  width:50%;
  float:left;
  padding-right:8px;
  text-align:right;
}

.SocialMediaBanner {
  height:80px;
  background-color:#DDD;
  margin-bottom:30px;
  position:relative;
  overflow:hidden;
}

.BannerTopRight {
  width:95%;
  float:right;
}

.SocialMediaHeading, .SocialMediaHeading:hover {
  position:absolute;
  width:100%;
  height:100%;
  z-index:1;
  background-color:rgba(0,0,0,0);
  font-size:40px;
  font-weight:bold;
}

.SocialMediaBannerImage {
  width:100%;
  filter:blur(5px);
}

.BannerTopLeft {
  width:100%;
  float:left;
}

.BannerBottomLeft {
  width:95%;
  float:left;
}

.BannerBottomRight {
  width:100%;
  float:right;
}

.BlackFont {
  color:black;
}

.SponsorKeyButton {
  margin-left:10px;
  margin-right:10px;
}

.PanelContent {
  padding:40px;
  margin:0 auto;
  text-align:center;
}

.PanelButton {
  width:100%;
  max-width:400px;
  margin:5px;
}

.PanelBox {
  padding-top:5px;
  padding-bottom:20px;
  height:300px;
}

.PanelBoxLight {
  background-color:#DDD;
}

.PanelBoxDark {
  background-color:#CCC;
}

#DiscordSVG {
  width:20px;
}

.permissionsBox {
  padding:10px;
}

.float-left {
  float:left;
}

.float-right {
  float:right;
}

.permissionText {
  display:inline-block;
}

.permissionDiv {
  margin-bottom:20px;
}

.login-divider {
  margin-top:15px;
  margin-bottom:20px;
  height:1px;
  background-color:#888;
}

.sign-up-p {
  margin-top:20px;
  color:#DDD;
}

.VisibilityHiddenAbsolute {
  position:absolute;
  visibility:hidden;
}

.sign-up-divider {
  margin-top:30px;
  margin-bottom:20px;
  height:1px;
  background-color:#888;
}

.sign-up-connections {
  position:relative;
}

.sign-up-verify-fb {
  width:70px;
  position:absolute;
  left:25px;
  top:10px;
}

.sign-up-verify-discord {
  width:70px;
  position:absolute;
  right:25px;
  top:10px;
}

.forgot {
  margin-bottom:5px;
}

.login-alt-p {
  text-align:center;
  color:#888;
  font-size:12px;
  font-family:helvetica;
}

.login-btn-block {
  width:49%;
  height:80px;
  text-align:center;
  display:block;
}

.login-btn-facebook {
  background-color:#3b5998;
  float:left;
}

.login-btn-discord {
  background-color:#7289DA;
  float:right;
}

.login-btn-facebook-icon {
  width:40px;
  height:40px;
}

.login-btn-discord-icon {
  width:54px;
  height:54px;
  margin-top:4px;
}

.FacebookLoginHeader {
  margin-bottom:50px;
}

.FacebookLoginHeaderPermissions {
  margin-top:75px;
}

#toggleTeamPageButton {
  float:right;
  margin-right:0px;
  width:30%;
  min-width:160px;
  height:100%;
}

.spaced_button {
  margin-left:5px;
  margin-right:5px;
  margin-top:5px;
  float:right;
}

.buttonBottom {
  margin-left:5px;
  margin-top:5px;
  float:right;
}

#LogOutButton {
  width:300px;
  height:50px;
}

.panel {
  background-color:#CCC;
}

#accordion-1 {
  margin-left:20px;
  margin-right:20px;
}

.accordian_container {
  padding-left:20px;
  padding-right:20px;
  padding-bottom:20px;
  margin-bottom:20px;
}

.accordian_inputbox {
  width:400px;
  height:150px;
}

.spacedIcon {
  margin-left:10px;
}

.accordian_linkbox {
  width:400px;
  height:20px;
}

.deleteButton {
  margin-left:10px;
  margin-top:10px;
}

.webmaster_confirmDiv {
  height:55px;
  padding-top:10px;
  padding-right:10px;
}

.projectDiv {
  width:100%;
  height:auto;
  border-radius:5px;
  border:1px solid #444;
  padding-left:10px;
  padding-right:10px;
  margin-bottom:30px;
}

.projectHeading {
  float:left;
  font-weight:bold;
  color:#1E6C93;
}

.projectButton {
  margin-bottom:10px;
  width:140px;
  float:right;
  border-radius:2px;
  font-weight:bold;
}

.projectAuthors {
  float:left;
  font-size:small;
}

.projectInfo {
  margin-top:5px;
  height:40px;
  width:auto;
  float:left;
}

.projectAuthorDiv {
  height:20px;
}

.projectLanguages {
  height:20px;
}

.projectLanguageText {
  height:15px;
  font-size:small;
  width:100px;
  text-align:left;
}

.projectSpacer {
  height:20px;
}

.languageCircleJava {
  color:rgb(176, 114, 25);
}

.languageCircleJavascript {
  color:rgb(241, 224, 90);
}

.languageCircleHTML {
  color:rgb(227, 76, 38);
}

.languageCircleAHK {
  color:rgb(101, 148, 185);
}

.languageCircle {
  margin-top:3px;
  display:inline-block;
  padding-right:5px;
}

.buttonIcon {
  padding-left:10px;
}

.contactContainer {
  text-align:center;
  margin-top:40px;
  margin-left:20px;
  margin-right:20px;
}

.webmasterRobotPanel, .webmasterPeoplePanel, .webmasterContactUsPanel {
  width:240px;
  height:400px;
  margin-top:20px;
  background-color:#BBB;
  display:inline-block;
  float:left;
  overflow-y:scroll;
}

.webmasterPeopleSortPanel {
  width:300px;
  height:400px;
  padding-top:5px;
  background-color:#BBB;
  overflow-y:scroll;
}

.webmasterRobotInfo, .webmasterPeopleInfoPanel {
  width:auto;
  min-width:300px;
  height:auto;
  margin-top:20px;
  margin-left:20px;
  background-color:#BBB;
  float:left;
  display:inline-block;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:10px;
}

.left-float-button {
  float:left;
  margin-top:10px;
  margin-right:10px;
}

.robotInfoTextField {
  width:300px;
}

.robotInfoTextFieldShort {
  width:100px;
}

.robotInfoTextArea {
  width:400px;
  height:100px;
}

.personTitleFieldBox {
  background-color:#CCC;
  height:100px;
  width:512px;
  overflow-y:scroll;
}

.personTitleBar {
  width:100%;
  height:29px;
  background-color:#666;
  margin-bottom:4px;
}

#personTitleBar-Template {
  visibility:hidden;
  width:20px;
  position:absolute;
}

.personTitleTitleInput {
  width:285px;
  height:22px;
  margin-top:3px;
  margin-bottom:2px;
  margin-left:3px;
}

.personTitleY1Input, .personTitleY2Input, .dropdownYearInput {
  width:60px;
  margin-top:2px;
  margin-bottom:2px;
  margin-left:3px;
}

.dropdownYearInput2 {
  width:100px;
  height:25px;
}

.personTitleDeleteButton {
  width:50px;
  height:29px;
  float:right;
  font-size:x-small;
}

.personButton {
  margin-right:5px;
}

.webmaster_configDiv {
  height:50px;
  width:60%;
  float:left;
  /*display:inline-block;*/
  margin-top:20px;
  margin-left:20px;
}

.panelNotActive {
  visibility:hidden;
}

.indexContainer {
  text-align:left;
}

.mobileWarning {
  margin-left:20px;
  margin-right:20px;
  margin-bottom:40px;
}

.facebookLoginInformation {
  margin-left:40px;
  margin-right:40px;
  margin-top:40px;
  margin-bottom:40px;
  padding-top:20px;
  padding-bottom:10px;
  padding-left:10px;
  padding-right:10px;
  text-align:center;
  border:1px solid #444;
  border-radius:10px;
}

.facebookLoginInformationPhoto {
  width:120px;
  height:120px;
  margin:0 auto;
  background-color:#EEE;
  border-radius:50%;
  padding-top:4px;
  margin-top:20px;
  margin-bottom:15px;
}

.facebookLoginInformationPhotoInner {
  width:112px;
  height:112px;
  margin:0 auto;
  background-color:#FFF;
  border-radius:50%;
  padding-top:2px;
}

#facebookLoginInformationPhotoActual {
  width:108px;
  height:108px;
  background-color:rgba(0,0,0,0);
  border-radius:50%;
  background-size:cover;
}

.socialMediaActionDiv {
  margin-right:20px;
  margin-left:20px;
  min-height:100px;
  height:auto;
  border:1px solid #000;
  border-radius:60px;
  text-align:center;
}

.socialMediaActionSubDiv {
  margin-top:20px;
  margin-bottom:20px;
  width:100%;
  text-align:center;
}

.socialMediaFeed {
  text-align:center;
  align-items:center;
  align-content:center;
  margin-left:60px;
  margin-right:60px;
  margin-bottom:60px;
  height:auto;
}

.col-md-4.twitterColumn {
  height:500px;
  overflow-y:scroll;
}

.policyTag {
  margin-left:20px;
  margin-right:20px;
  height:auto;
}

.webmasterLeadershipTabs {
  margin-top:20px;
}

.testButton {
  width:100%;
  margin-top:5px;
}

.placeholderClass {
  width:100%;
  height:50px;
  margin-top:5px;
  border:2px solid #777;
  background-color:#AAA;
}

.accordian_container, .panel {
  background-color:#EEE;
}

.icon-box {
  background-color:#EEE;
  margin-top:40px;
  margin-bottom:40px;
}

.SortableDisplayButton {
  width:100%;
  margin-top:2px;
  margin-bottom:2px;
}

.robot-type-grid {
  width:100%;
  height:auto;
  min-height:100px;
  background-color:rgb(245, 245, 245);
  border-radius:4px;
}

.robot-type-grid-out {
  margin:0px;
  padding:10px;
}

.robot-type-content {
  padding:10px;
}

.activeSortButton {
  background-color:#888;
}

.feedDiv {
  width:100%;
  min-height:20px;
  background-color:#DDD;
  padding:5px;
  margin-bottom:10px;
}

.feed-connections {
  position:relative;
  width:240px;
  margin:0 auto;
  margin-bottom:5px;
}

.feed-share {
  margin-bottom:5px;
  margin-top:5px;
  display:inline-block;
  width:120px;
}

.sm-lead {
  margin-bottom:15px;
  margin-top:10px;
}

.feed-sm {
  width:70px;
  height:50px;
  display:inline-block;
  background-color:#999;
  margin-left:5px;
  margin-right:5px;
  margin-bottom:5px;
}

.feed-btn {
  width:95%;
  height:50px;
  display:inline-block;
  margin-left:5px;
  margin-right:5px;
  margin-bottom:5px;
}

.feed-admin-sm {
  width:95%;
  height:50px;
  display:inline-block;
  margin-left:5px;
  margin-right:5px;
  margin-bottom:5px;
}

.userPermissions {
  margin-left:5px;
  margin-right:5px;
}

.userPermission {
  width:100%;
  height:40px;
  background-color:purple;
  border-radius:5px;
  margin-bottom:5px;
}

.userPermission-p {
  height:100%;
  line-height:40px;
  color:#FFF;
}

